
#tbldowneoldemandate tbody {
    overflow: auto;
    display: block;
    max-height: 26vh;
}

    #tbldowneoldemandate tbody tr {
        width: 100%;
        display: table;
        table-layout: fixed;
    }


#tbldowneoldemandate thead tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}




#tbldowneoldemandate {
    overflow-x: scroll;
    display: inline-block;
}

    #tbldowneoldemandate tbody {
        width: 2011px;
    }


#maincontent {
    position: absolute;
    top: 8%;
    left: 14%;
    width: 86%;
}
