
#tbldownmandate tbody {
    overflow: auto;
    overflow-x: hidden;
    display: block;
    max-height: 26vh;
    border: 1px solid #d5d5d5;
}

    #tbldownmandate tbody tr {
        width: 100%;
        display: table;
        table-layout: fixed;
    }


#tbldownmandate thead tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}




#tbldownmandate {
    overflow-x: scroll;
    display: inline-block;
}

    #tbldownmandate tbody {
        width: 2251px;
    }


#maincontent {
    position: absolute;
    top: 8%;
    left: 14%;
    width: 86%;
}
