

#tblfirstumrnupload tbody {
    overflow: auto;
    display: block;
    max-height: 26vh;
}

    #tblfirstumrnupload tbody tr {
        width: 100%;
        display: table;
        table-layout: fixed;
    }


#tblfirstumrnupload thead tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}


#tblsecondumrnupload tbody {
    overflow: auto;
    display: block;
    max-height: 26vh;
}

    #tblsecondumrnupload tbody tr {
        width: 100%;
        display: table;
        table-layout: fixed;
    }


#tblsecondumrnupload thead tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}



#tblsecondumrnupload {
    overflow-x: scroll;
    display: inline-block;
}

    #tblsecondumrnupload tbody {
        width: 1321px;
    }



#tblthirdumrnupload tbody {
    overflow: auto;
    display: block;
    max-height: 26vh;
}

    #tblthirdumrnupload tbody tr {
        width: 100%;
        display: table;
        table-layout: fixed;
    }


#tblthirdumrnupload thead tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}



#tblthirdumrnupload {
    overflow-x: scroll;
    display: inline-block;
}

    #tblthirdumrnupload tbody {
        width: 1321px;
    }

.boxsetting {
    margin-top: 3%;
    margin-left: 1%;
}

form {
    display: block;
    overflow: visible !important;
    padding: 0 !important;
    height: 0% !important;
}


#maincontent {
    position: absolute;
    top: 8%;
    left: 14%;
    width: 86%;
}
