

#histmandtbl tbody {
    display: inherit;
    max-height: 60vh;
    border: 1px solid #d5d5d5;
}

    #histmandtbl tbody tr {
        width: 100%;
        display: table;
        table-layout: fixed;
    }

.htmldateheight {
    height: 24px;
}

#histmandtbl thead tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

#histmandtbl {
    overflow-x: scroll;
    display: inline-block;
}

    #histmandtbl tbody {
    }




        #histmandtbl tbody td {
            white-space: nowrap;
            overflow: hidden;
        }



#maincontent {
    position: absolute;
    top: 8%;
    left: 14%;
    width: 86%;
}
