#tbldownoldmandate tbody {
    overflow: auto;
    display: block;
    max-height: 26vh;
}

    #tbldownoldmandate tbody tr {
        width: 100%;
        display: table;
        table-layout: fixed;
    }


#tbldownoldmandate thead tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}




#tbldownoldmandate {
    overflow-x: scroll;
    display: inline-block;
}

    #tbldownoldmandate tbody {
        width: 2251px;
    }


#maincontent {
    position: absolute;
    top: 8%;
    left: 14%;
    width: 86%;
}
