#tblEmandate tbody {
    display: block;
    max-height: 60vh;
}

    #tblEmandate tbody td {
        white-space: nowrap;
    }

    #tblEmandate tbody tr {
        width: 100%;
        display: table;
        table-layout: fixed;
    }


#tblEmandate thead tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}




#tblEmandate {
    overflow-x: scroll;
    display: inline-block;
}




#maincontent {
    position: absolute;
    top: 8%;
    left: 14%;
    width: 86%;
}
